<%= form_with model: @movie, local: true do |form| %>
 
    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@movie.errors.count, "error") %> prohibited
          this movie from being saved:
        </h2>
        <ul>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :ratings %><br>
      <%= form.text_field :ratings %><br>
    </p>

    <p>
      <%= form.label :release_date %><br>
      <%= form.text_field :release_date %>
    </p>
   
    <p>
      <%= form.label :rank %><br>
      <%= form.text_field :rank %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
   
  <% end %>