Name: <%= @movie.name %><br/>
Ratings: <%= @movie.ratings %><br/>
Release Date: <%= @movie.release_date %><br/>
Rank  : <%= @movie.rank%><br/>


<p>
	<strong> Actors </strong>
	<% @movie.actor_movies.pluck(:cast_id).each do |id| %>
	<%= link_to Cast.find(id).name, Cast.find(id) %>
	
	<% end %>
</p>

<p>
	<strong> Directors </strong>
	<% @movie.director_movies.pluck(:cast_id).each do |id| %>
	<%= link_to Cast.find(id).name, Cast.find(id) %>
	
	<% end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie)  %>
<%= link_to 'Back', movies_path %>


<br>
<br>



