Name: <%= @cast.name %><br/>
Date of Birth: <%= @cast.date_of_birth %><br/>
Number of Movies: <%= @cast.no_of_movies %><br/>
Rank : <%= @cast.rank %><br/>

<br>

<h2>Movies Acted</h2>
<% @cast.actor_movies.pluck(:movie_id).each do |id| %>
	<%= link_to Movie.find(id).name, Movie.find(id) %>
	<br>
<% end %>
<br>

<h2>Movies Directed</h2>
<% @cast.director_movies.pluck(:movie_id).each do |id| %>
	<%= link_to Movie.find(id).name, Movie.find(id) %>
	<br>
<% end %>
<br>


<%= link_to 'Edit', edit_cast_path(@cast)  %>
<%= link_to 'Back', casts_path %>
<%= link_to "Edit", edit_cast_path(@cast) %>


<br>
<br>

